.btn {
  color: $celeste-oscuro;
  cursor: pointer;
  transition: 2seg;
}

.btn:hover {
  background: #56bce0;
  color: #0b4772;
}

.footer {
  background-color: $celeste-claro;
}

#card-agenda2030 {
  background-color: $celeste-claro;
}
